/*---------------- Website Setup -----------------*/

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	text-size-adjust:100%;
}

h1,h2,h3,h4,h5,a, {
	font-family: 'Montserrat', sans-serif;
}

p {
	font-family: 'PT Sans', sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.hero-content {
	position: absolute;
	padding: 0 2rem;
	width: 100%;
	bottom: 30%;
}

.hero {
	/*background: url("../images/hero.jpg)")no-repeat center top / cover;*/
	background-color: grey;
	padding-top: 61.8%;
	position: relative;
	overflow: hidden;
}

a:hover {
	background-color: white;
	color: #FF5033;
	transition: all 200ms ease-out;
}

a {
	list-style: none;
	color: #0074d9;
	text-decoration: none;
}

.nav {
	position: fixed;
	left: -110px;
	background-color: #FF5033;
	height: 100%;
	transition: all 200ms ease-out;
	width: 120px;
	z-index: 1001;
}

.nav a {
	display: block;
	position: relative;
	left: -50px;
	width: 50px;
	transition: all 200ms ease-out;
}

.nav a:hover {
	cursor: default;
    background-color: white;
	color: #FF5033;
	width: 80px;
    transition: all .2s ease-in-out 0s;
}

.nav a:nth-child(2) {
	transition-delay: 50ms;
}

.nav a:nth-child(3) {
	transition-delay: 100ms;
}

.nav a:nth-child(4) {
	transition-delay: 150ms;
}

.nav a:nth-child(5) {
	transition-delay: 200ms;
}

.nav-check:checked ~ .nav a {
	left: 25px;
}

.nav-check:checked ~ .nav {
	left:0px;
	box-shadow: 2px 0px 18px -5px rgba(115,115,115,0.65);
}

.nav-check {
	position: absolute;
	top: -3em;
}

.nav-check:checked ~ .nav-label {
	left: 90px;
}

.nav-check:checked ~ .fade {
	opacity: 0.5;
	z-index: 999;

}

.nav img {
	display: block;
	width: 100%;	
}

.nav-label img {
	display: block;
}

.nav-label {
	position: fixed;
	left:6px;
	transition: all 200ms ease-out;
	z-index: 1000;
}

.fade {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	transition: opacity 200ms ease-out 25ms;
	z-index: -1;
	left: 0;
}
